/* SocialButton.css */

.social-button {    
    font-size: 1.2rem;
    padding: 6px 8px;   
    border-radius: 10px;    
    background-color: var(--bg-color);
    color: black;    
    border: solid 1px lightgray;        
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-sizing: border-box;
}

.social-button > *:nth-child(1) {
    font-size: 1.2rem;
}

.social-button > *:nth-child(1):hover {
    color: blue;
}

.social-button:active {
    /*background-color: var(--btn-secondary-color);*/
    transform: scale(var(--tranform-scale));
}

.social-button:disabled {
    background-color: var(--btn-secondary-color);
    color: var(--btn-secondary-font-color);
    border: none;
    cursor: not-allowed;
    opacity: 0.6;
}