/* Card.css */



/* CardProfile structure */
.profile {
    position: relative;
    width: auto;
    height: 100%;
    padding: 20px;
    /*border: solid 1px black;*/
    display: grid;
    grid-template: 
    "figure" 1fr
    "caption" .5fr
    "release" 2fr
    "contact" .5fr
     / 1fr;
     gap: 10px;
     box-sizing: border-box;   
}

.figure {  
    grid-area: figure;    
    background-color:aqua;    
}

.photo {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; 
    /*padding: 5px; */  
    border-radius: 10%;
    object-fit: cover;
    box-sizing: border-box;    
}

.release {
    grid-area: release;
}

.contact {
    grid-area: contact;
}