/* Card.css */

/* CardProfile structure */
.profile {    
    width: auto;
    height: 100%;
    padding: 20px;
    /*border: solid 1px black;*/
    display: grid;
    grid-template: 
    "figure" .5fr
    "caption" .5fr
    "release" 1fr
    "contact" .5fr
    "social" .5fr
     / 1fr;
     gap: 10px;
     box-sizing: border-box;   
}

.figure {  
    grid-area: figure;    
    background-color:aqua;    
}

.photo {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; 
    /*padding: 5px; */  
    border-radius: 10%;
    object-fit: cover;
    box-sizing: border-box;    
}

.release {
    grid-area: release;
}

.contact {
    grid-area: contact;
}

.social {
    grid-area: social;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social > *:nth-child(n) {
    margin-right: 5px;
}