/* novo CSS */

header {
  display: block;
  box-sizing: border-box;
  max-width: 100%;  
}

aside {  
  box-sizing: border-box;
  border: solid 1px white;
  border-radius: 10px;
  width: 30%;  
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: inline;
  box-sizing: border-box;  
  width: 70%;
  border: solid 1px white;
  border-radius: 10px;
}

footer {
  box-sizing: border-box;
  margin: 20px 0px; 
  max-width: 100%;  
  display: block; 
  border: solid 1px yellow;
  border-radius: 10px;
}

.header {
  box-sizing: border-box;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-around;  
  border: solid 1px white;
  border-radius: 10px;
}

.dev-logo {
  box-sizing: border-box;
  width: 30%;
  border: solid 1px greenyellow;

}

.navbar {
  box-sizing: border-box;  
  border: solid 1px greenyellow;  
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.nav-item {
  box-sizing: border-box;  
}

.main-content {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: solid 1px red;    
}


