:root {
    --bg-color: white;
    --font-primary-color: black;
    --font-secondary-color: gray;
    --btn-primary-color: steelblue;
    --btn-secondary-color: lightgrey;
    --btn-primary-font-color: white;
    --btn-secondary-font-color: gray;
    --card-bg-color: white;
    --shadow-color: lightgrey;

    --navbar-height: 60px;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;    
}

#root {           
    max-width: 840px;
    height: auto; /* 100dvh */
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-template: 
    "header header" auto 
    "aside main" auto 
    "footer footer" auto 
    / 0.5fr 1.5fr; 
    gap: 10px;          
}